<div class="list-group">
  <div class="list-group-item">
     Submit External Transaction
  </div>
  <div class="list-group-item">
    <form action="/submit-external-tx" method="POST">
      <div class="form-group">
        <textarea class="form-control" name="blob" id="blob" rows="3"><%= blob if blob %></textarea>
        <small id="help" class="form-text text-muted">Base64 encoded tx.</small>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <% if tx %>
  <div class="list-group-item"  >
    Transaction submitted!<br/>
    <small id="response_details">
        <%= response2table(tx) %>
    </small>
  </div>
  <% end %>
</div>
