<%
url_path = request.env['PATH_INFO'].to_s
byron_ep = "/byron-wallets/#{wal['id']}/update"
shelley_ep = "/wallets/#{wal['id']}/update"
wid = wal['id']
%>
<div class="list-group">
  <div class="list-group-item">
    <small><a href="<%= back_to_wallet(url_path, wid) %>">go back to wallet</a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= pick_post_ep(url_path, byron_ep, shelley_ep, nil) %>" method="POST">
      <div class="form-group">
        <label for="epoch_number">Wallet Name</label>
        <input type="text" class="form-control" name="name" id="name"
            placeholder="Name" value="<%= wal['name'] %>">
      </div>

      <button type="submit" class="btn btn-success">Update name</button>
    </form>
  </div>
</div>
