<%
url_path = request.env['PATH_INFO'].to_s
wid = params[:wid] if params[:wid]
byron_ep = "/byron-wallets-force-resync"
shelley_ep = "/wallets-force-resync"
%>
<div class="list-group">
  <div class="list-group-item">
    <form action="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>" method="POST">
      <div class="form-group">
        <label for="wid">Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>"> 
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']} , delegation: #{w['delegation']}]" %> 
          </option>      
          <% end %>
        </select>      
      </div>
      
      <div class="form-group">
        <label for="slot_number">Slot Number</label>
        <input type="text" class="form-control" name="slot_number" id="slot_number" 
            placeholder="Slot Number" value="0">
        <label for="epoch_number">Epoch Number</label>
        <input type="text" class="form-control" name="epoch_number" id="epoch_number" 
            placeholder="Epoch Number" value="0">

      </div>

      <button type="submit" class="btn btn-success">Force resync</button>
    </form>
  </div>
</div>