
<div class="list-group">
  <div class="list-group-item">
     Settings
     <small><a href="/settings">refresh</a></small>
  </div>
  <div class="list-group-item">
    <form action="/settings" method="POST">
      <div class="form-group">
        <label for="wid_src">Pool Metadata Source</label>
        <input type="text" class="form-control" name="pool_strategy" id="pool_strategy"
            placeholder="" value="<%= pool_strategy %>">
        <small id="help" class="form-text text-muted">"direct", "none" or url to SMASH server.</small>
      </div>

      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>

  <% if settings %>
  <div class="list-group-item"  >
    <small id="settings">
        <%= response2table(settings) %>
    </small>
  </div>
  <% end %>
</div>
