<script>
function goBack() {
  window.history.back();
}
</script>
<div class="list-group">
  <div class="list-group-item">
    Submit Transaction 🚀
    | <small><a href="#" onclick="goBack()">
        go back
      </a></small>
  </div>
  <div class="list-group-item"  >
    <form action="/submit-tx-shelley" method="POST">
      <input type="hidden" name="wid" value="<%= wid %>"/>
      <button type="submit" class="btn btn-success" disabled>Submit</button>
    </form>
  </div>
  <% if tx %>
  <div class="list-group-item"  >
    <details>
      <summary>Transaction details</summary>
        <code>
          <small id="tx">
              <%= response2table(tx) %>
          </small>
        </code>
    </details>

  </div>
  <% end %>
</div>
