<%
wid = params[:wid] if params[:wid]
%>

<div class="list-group">
  <div class="list-group-item">
    <form action="/stake-pools-list" method="GET" >
      <div class="form-group">
        <label for="wid">For Wallet:</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']} , delegation: #{w['delegation']}]" %>
          </option>
          <% end %>
        </select>
      </div>
      <button type="submit" class="btn btn-success">List Stake Pools</button>

    </form>
  </div>
</div>
