<%
# Only supported for Shelley wallets
url_path = request.env['PATH_INFO'].to_s
byron_ep = "/byron-wallets/#{wal['id']}/update-pass" # -mnem
shelley_ep = "/wallets/#{wal['id']}/update-pass" # -mnem
wid = wal['id']
%>
<div class="list-group">
  <div class="list-group-item">
    <small><a href="<%= (url_path.include? "byron") ? "/byron-wallets/" : "/wallets/" %><%= wid %>">go back to wallet</a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>-mnem" method="POST">
      <div class="form-group">
        <label for="mnemonic_sentence"><a href="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>">Old pass</a> / Wallet mnemonics</label>
        <input type="text" class="form-control" name="mnemonic_sentence" id="mnemonic_sentence"
            placeholder="Mnemonic sentence" value="">
        <label for="new_pass">New pass</label>
        <input type="text" class="form-control" name="new_pass" id="new_pass"
            placeholder="New pass" value="">
      </div>
      <button type="submit" class="btn btn-success">Update passphrase</button>
    </form>
  </div>
</div>
