
<div class="list-group">
  <div class="list-group-item">
     Inspect Address
  </div>
  <div class="list-group-item">
    <form action="/inspect-address-now" method="GET">
      <div class="form-group">
        <input type="text" class="form-control" name="addr_id" id="addr_id"
            placeholder="Address" value="<%= id %>">
        <small id="help" class="form-text text-muted">Paste or type address.</small>
      </div>

      <button type="submit" class="btn btn-success">Inspect Address</button>
    </form>
  </div>

  <% if address_details %>
  <div class="list-group-item"  >
    <small id="address_details">
        <%= response2table(address_details) %>
    </small>
  </div>
  <% end %>
</div>
