<%
 p = network_params
%>
<div class="list-group">
  <div class="list-group-item">
     Network parameters
     <small><a href="/network-params">refresh</a></small>
  </div>
  <div class="list-group-item">
    <small>
    <%= json2table(p.to_s) %>
    </small>
  </div>
</div>
