<%
 n = network_info
%>

<div class="list-group">
  <div class="list-group-item">
     Network information
     <small><a href="/network-info">refresh</a></small>
  </div>
  <div class="list-group-item">
    <b>Status:</b> <%= general_status(n['sync_progress']['status']) %>
                   <%= n['sync_progress']['status'] == "syncing" ? ", Progress: #{n['sync_progress']['progress']['quantity']}%" : ""%>
    <br/>
    <b>Node era:</b> <span class='badge badge-primary'><%= n['node_era'] %></span>
    <br/>
    <br/>
    <small>
    <%= response2table(n) %>
    </small>
  </div>
</div>
