<%
 n = network_clock
%>
<div class="list-group">
  <div class="list-group-item">
     Network clock
     <small><a href="/network-clock">refresh</a></small>
  </div>
  <div class="list-group-item">
    <small>
    <%= json2table(n.to_s) %>
    </small>
  </div>
</div>
