<%
params['minWithdrawal'] ||= 1
min = params['minWithdrawal']
%>
<div class="list-group">
  <div class="list-group-item">
     <form action="/rewards" method="GET" >
       <div class="form-row">
         <div class="col-2">
           <div class="form-group">
             <input type="text" class="form-control" name="minWithdrawal" id="minWithdrawal" placeholder="Minimum withdrawal"
                value="<%= min %>">
             <small id="help" class="form-text text-muted">
               Minimum rewards withdrawn
             </small>
           </div>
         </div>
         <div class="col">
           <div class="form-group">
             <button type="submit" class="btn btn-success">Refresh</button>
             <input type="hidden" name="wid" value="<%= wid %>"/>
           </div>
         </div>
       </div>
     </form>
  </div>
  <div class="list-group-item">
    <small><%= generate_curl(transactions) %></small>
    
    <% transactions.each do |tx|  %>
    <%= render_tx_on_wallet_page("/wallets", tx, wid) %>
    <% end %>
  </div>
</div>
