
      <div class="alert alert-success" role="alert">
        Funds migrated successfully using <%= transactions.size %> tx.
      </div>

      <div class="list-group">
        <div class="list-group-item">
           <small><a href="/byron-wallets/<%= wid_src %>">go to Byron Wallet (src)</a></small>
        </div>
      </div>
