<%
url_path = request.env['PATH_INFO'].to_s
%>

<div class="alert alert-success" role="alert">
  Funds migrated successfully using <%= transactions.size %> tx.
</div>

<div class="list-group">
  <div class="list-group-item">
     <small><a href="<%= back_to_wallet(url_path, wid_src) %>">
       go back to wallet
     </a></small>
  </div>
</div>
