<%
# tx_fee
# wallet_id
url_path = request.env['PATH_INFO'].to_s
byron_ep = "/byron-wallets/#{wallet_id}"
shelley_ep = "/wallets/#{wallet_id}"

%>

<div class="list-group">
  <div class="list-group-item">
     Transaction fees  |
       <small>
         <a href="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>">
           go back to wallet
         </a>
       </small>
  </div>
  <% if tx_fee %>
  <div class="list-group-item"  >
    <small id="coin_selection">
        <%= response2table(tx_fee) %>
    </small>
  </div>
  <% end %>
</div>
