# TEMP view for shared wallets

<%
  url_path = request.env['PATH_INFO'].to_s
  shared_ep = "/shared-wallets"
%>

<div class="list-group">
    <div class="list-group-item">
      <small><a href="<%= pick_post_ep(url_path, nil, nil, shared_ep) %><%= "/#{wid}" %>">go to wallet</a></small><br/>
    </div>
    <div class="list-group-item" >
      <b> Transaction submitted.</b>
      <details>
        <summary>Table view</summary>
        <small>
        <%= response2table(tx) %>
        </small>
      </details>
    </div>
</div>
